<div id="header" style="clear:both">
  <h2 style="float: left">Study Management</h2>
  <h2 style=" float: right; margin-left: 15px"> <%= link_to '+Add', new_study_path, class: "new-study" %></h2>
</div>

<div id="table_body">
  <div id=table>
    <table>
      <tr>
        <th> Title</th>
        <th> Therapeutic Area</th>
        <th> Phase</th>
        <th> Start End</th>
        <th> Projected End Date</th>
        <th> No Of Subjects</th>
        <th> Redacted </th>
        <th> Edit </th>
        <th> Delete </th>
        <th> Generate Report </th>
      </tr>
      <% @studies.each do |study| %>
        <%= render partial: 'study_row', locals: { study: study } %>
      <% end %>
    </table>
  </div>
  <h5><%=link_to 'Go Back', root_path%></h5>
  <% flash.each do |type, msg|%>
    <div style="color: green; margin-left: 300px">
      <%= msg %>
    </div>
  <% end %>
</div>