<h2 style="margin-left: 10px; color-interpolation-filters: linearRGB">WELCOME TO MINI MEDIDATA</h2>
<hr/>
<div class="root-div">
<h3><%=link_to 'Study Management', studies_index_path %> </h3>
<h3><%=link_to 'Site Management', sites_index_path %> </h3>
<h3><%=link_to 'Subject Management' %> </h3>
</div>